*{
    padding: 0;
    margin: 0;
    font-family: 'Courier Prime', Courier, monospace;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

/* :root{
    --display-main: none;
}

.main_container{
    display: var(--display-main);
} */

/* navbar */
.nav_bar{
    display: flex;
    justify-content: space-between;
    padding: 0.6em 1.2em 0 1.2em;
}

#left_side_nav_bar_img{
    height: 40px;
    padding: 0.6em 0 1.2em 2.5em;
}

.right_side_nav_bar{
    display: flex;
    padding: 0.6em 0 0.6em 0;
}

#right_side_nav_bar_home, #right_side_nav_bar_about_us, #right_side_nav_bar_services, #right_side_nav_bar_reviews, #right_side_nav_bar_contact_us{
    padding: 1.2em 1.2em 1.2em 1.2em;
}

.right_side_nav_bar > a {
    text-decoration: none;
    color: #0f0f0f;
    font-size: 1.2rem;
}

/* Underline animation */
.right_side_nav_bar > a::after{
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1f6a26;
    display: block;
    transition: width 0.3s, background-color 0.3s;
}

/* Hover effect */
.right_side_nav_bar > a:hover::after{
    width: 100%;
}

/* Text color change on hover */
.right_side_nav_bar > a:hover{
    color: #1f6a26;
}


/* main content */
.main_content{
    padding: 0.6em;
    margin: 0.6em;
}

.home_page {
    display: flex;
}

.home_page_left_side_content {
    margin: 1.2em;
    padding-top: 5%;
    padding-left: 1.2em;
}

.journey_begin {
    font-size: 4.6rem;
    color: #1f6a26;
}

.journey_details {
    padding: 1.2em 0 1.2em 0;
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin-bottom: 1.2em;
}

.anchor_role_button {
    text-decoration: none;
    padding: 0.6em 1.2em 0.6em 1.2em;
    border-radius: 1.2em;
    box-shadow: 0.06em 0.06em 0.3em #0f0f0f;
    font-size: 1.1rem;
    padding: 0.6em 1.2em 0.6em 1.2em;
}

.greenBg_whiteText_button {
    color: #fff;
    border: 0;
    background-color: #1f6a26;
    margin-right: 0.3em;
}

#rent_ur_place_button {
    color: #1f6a26;
    border: 0.06em solid #1f6a26;
    background-color: #fff;
}

#home_page_right_side_content_img {
    margin: 1.2em;
    width: 700px;
    border-right: 0.06em solid;
    border-bottom: 0.06em solid;
}

.about_us_page {
    padding: 0.6em;
    margin: 0.6em;
    display: flex;
}

#about_us_page_left_side_content_img{
    margin-right: 7.5em;
    margin-left: 3.7em;
    height: 600px;
} 

.about_us_page_right_side_content{
    margin-top: 0;
    padding-top: 0.06em;
} 

.about_us_page_right_side_content > .journey_details1, .journey_details1{
    margin-bottom: 0;
    padding-bottom: 0;
}

.services_page_review_page {
    display: flex;
    justify-content: center;
}

.playcards{
    display: flex;
    justify-content: center;
    margin-bottom: 4.3em;
}

.service_playcard {
    background-color: #1f6a26;
    text-align: center;
    margin: 1.2em;
    height: 330px;
    width: 340px;
    border-radius: 6%;
}

.services_playcard_image {
    height: 100px;
    padding: 2.1em;
}

.services_playcard_image_headline {
    color: #fff;
    font-weight: bold;
    font-size: 2.1em;
    padding-bottom: 0.5em;
}

.services_playcard_image_description {
    color: #fff;
    padding: 0 1.2em 0 1.2em;
}

.review_playcard {
    border: 0.3em solid #1f6a26;
    text-align: center;
    margin: 1.2em;
    height: 340px;
    width: 340px;
    border-radius: 5% 25% 5% 25%;
}

.review_playcard_image {
    height: 150px;
    padding: 1.2em 0 1.2em 0;
}

.review_playcard_image_headline {
    color: #1f6a26;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 0.7em;
}

.review_playcard_image_description {
    font-size: 0.9rem;
    padding: 0 2em 0 2em;
}



/* footer */
.contact_us {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 1.8em 1.8em 0 1.8em;
}

.footer_img_div {
    text-align: center;
    margin: 0.6em;
}

#ezestates_footer_img {
    height: 40px;
    position: relative;
    top: 30%;
}

/* #ezestates_footer_description {
    font-size: 1.0625rem;
    position: relative;
    top: 40%;
} */

#ezestates_footer_description {
    font-size: 1.06rem;
    position: relative;
    top: 40%;
}

.gradient {
    margin: 0.3em;
    height: 0.06em;
    position: relative;
    top: 40%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(31,106,38,1) 40%, rgba(31,106,38,1) 60%, rgba(255,255,255,1) 100%);
}

.gradient_hr_footer {
    margin: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(31,106,38,1) 30%, rgba(31,106,38,1) 70%, rgba(255,255,255,1) 100%);
}

.footer_links {
    display: flex;
    margin: 0.6em;
    justify-content: space-around;
}

.footer_links_ul {
    list-style-type: none;

}

.footer_links_li {
    font-size: 1.1rem;
    padding: 0.5em;
}

.footer_link_header {
    color: #1f6a26;
    font-size: 1.3rem;
    font-weight: 600;
}

.footer_links_li > a {
    text-decoration: none;
    color: #0f0f0f;
    position: relative;
}

/* underline animation */
.footer_links_li > a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: #1f6a26;
    transition: width 0.3s, background-color 0.3s;
}

/* hover effect */
.footer_links_li > a:hover::after{
    width: 100%;
}

.footer_links_li > a:hover{
    color: #1f6a26;
}

.footer_links_li_contact_us {
    font-size: 1.1rem;
    padding: 0.5em;
}

.footer_links_li_contact_us > a {
    text-decoration: none;
    color: #0f0f0f;
    position: relative;
}

.footer_links_li_contact_us > a:hover {
    color: #1f6a26;
    font-weight: 500;
}

.social_media_handles {
    color: #1f6a26;
    font-size: 1.3rem;
    font-weight: 600;
}

.socials {
    display: flex;
    justify-content: space-evenly;
}

#socials_facebook, #socials_instagram, #socials_twitter, #socials_youtube {
    height: 30px;
    padding: 0.6em;
}

.socials > div > a {
    text-decoration: none;
    color: #0f0f0f;
}

/* Underline animation */
.socials > div > a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #1f6a26;
    display: block;
}

/* Hover effect */
.socials > div > a:hover::after{
    transition: all 0.3s linear;
    width: 100%;
}

/* Text color change on hover */
.socials > div > a:hover{
    color: #1f6a26;
}