*{
    padding: 0;
    margin: 0;
    font-family: 'Courier Prime', Courier, monospace;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

/* :root{
    --display-main: none;
}

.main_container{
    display: var(--display-main);
} */

/* navbar */
.nav_bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(10px);
    z-index: 99;
    padding: 0.6em 1.2em 0 1.2em;
}

.right_side_nav_bar{
    display: flex;
    padding: 0.6em 0 0.6em 0;
}

#right_side_nav_bar_home, #right_side_nav_bar_about_us, #right_side_nav_bar_services, #right_side_nav_bar_reviews {
    padding: 1.2em 1.2em 1.2em 1.2em;
}

#right_side_nav_bar_contact_us {
    padding: 1.2em 3em 1.2em 1.2em;
}

.right_side_nav_bar > a {
    text-decoration: none;
    color: #0f0f0f;
}

.right_side_nav_bar > a::after{
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1f6a26;
    display: block;
    transition: width 0.3s, background-color 0.3s;
}


.right_side_nav_bar > a:hover::after{
    width: 100%;
}

.right_side_nav_bar > a:hover{
    color: #1f6a26;
}

.hamburger {
    position: relative;
    display: none;
    width: 35px;
    top: 0.5em;
    right: 1em;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 99;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #1f6a26;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 10px;
}

.hamburger.is-active::before {
    border-radius: 10px;
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
    border-radius: 10px;
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    background-color: #0f0f0f;
    padding-top: 120px;
    z-index: 98;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    font-size: 1.5rem;
    color: #1f6a26;
    background-color: #fff;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: aliceblue;
}

/* @media (width < 1200px) {
    .desktop-nav {
        display: none;
    }
    .hamburger {
        display: block;
    }
} */

.home_page, .about_us_page, .services_page, .reviews_page {
    /* padding: 1.05em;
    margin: 1.05em; */
    width: 100%;
    max-width: fit-content;
}

.journey_begin {
    font-size: 4.6rem;
    color: #1f6a26;
}

.journey_details {
    padding: 0.75em 0;
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin-bottom: 1.2em;
}

.anchor_role_button {
    text-decoration: none;
    padding: 0.6em 1.2em;
    border-radius: 1.2em;
    /* box-shadow: 0.06em 0.06em 0.3em #0f0f0f; */
    font-size: 1.1rem;
}

.greenBg_whiteText_button {
    color: #fff;
    border: 0;
    background-color: #1f6a26;
    margin-right: 0.3em;
}

.greenBg_whiteText_button:hover {
    color: #1f6a26;
    background-color: #E5E4E2;
    border: 0.06em solid #1f6a26;
    font-weight: 600;
}

#rent_ur_place_button {
    color: #1f6a26;
    border: 0.06em solid #1f6a26;
    background-color: #fff;
}

#rent_ur_place_button:hover {
    background-color: #E5E4E2;
    font-weight: 600;
    color: #1f6a26;
}

.home_page {
    display: flex;
    justify-content: space-around;
    /* @media (max-width: 950px) {
        .home_page_left_side_content {
            margin: 1.2em;
            background-image: url('/src/assets/images/generals/handHouse.png');
            background-size: 110%;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        #home_page_left_side_content_wrapper {
            padding-top: 5%;
            padding-left: 1.2em;
            backdrop-filter: blur(5px);
            height: 100%;
        }

        #home_page_right_side_content_img {
            display: none;
        }
    } */
}

#about_us_page_left_side_content_img{
    /* margin-right: 7.5em;
    margin-left: 3.7em; */
    /* height: 600px; */
    width: 50%;
} 

.about_us_page_right_side_content{
    margin-top: 0;
    padding-top: 0.06em;
} 

.about_us_page_right_side_content > .journey_details, .journey_details1{
    margin-bottom: 0;
    padding-bottom: 0;
}

.about_us_page {
    display: flex;
    /* @media (max-width: 950px) {
        .about_us_page_right_side_content {
            margin: 1.2em;
            background-image: url('/src/assets/images/generals/1.png');
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        #about_us_page_right_side_content_wrapper {
            padding-top: 5%;
            padding-left: 1.2em;
            backdrop-filter: blur(5px);
            height: 100%;
        }

        #about_us_page_left_side_content_img {
            display: none;
        }
    } */
}

.services_page_review_page {
    display: flex;
    justify-content: center;
}

.playcards{
    display: flex;
    justify-content: center;
    margin-bottom: 4.3em;
}

.service_playcard {
    background-color: #1f6a26;
    text-align: center;
    margin: 1.2em;
    height: 330px;
    width: 340px;
    border-radius: 6%;
}

.services_playcard_image {
    height: 100px;
    padding: 2.1em;
}

.services_playcard_image_headline {
    color: #fff;
    font-weight: bold;
    font-size: 2.1em;
    padding-bottom: 0.5em;
}

.services_playcard_image_description {
    color: #fff;
    padding: 0 1.2em 0 1.2em;
}

.review_playcard {
    border: 0.3em solid #1f6a26;
    text-align: center;
    margin: 1.2em;
    height: 340px;
    width: 340px;
    border-radius: 5% 25%;
}

.review_playcard_image {
    height: 150px;
    padding: 1.2em 0 1.2em 0;
}

.review_playcard_image_headline {
    color: #1f6a26;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 0.7em;
}

.review_playcard_image_description {
    font-size: 0.9rem;
    padding: 0 2em 0 2em;
}

.footer_img_div {
    text-align: center;
    margin: 0.6em;
}

#ezestates_footer_img {
    height: 40px;
    position: relative;
    top: 30%;
}

#ezestates_footer_description {
    font-size: 1.06rem;
    position: relative;
    top: 40%;
}

.gradient {
    margin: 0.3em;
    height: 0.06em;
    position: relative;
    top: 40%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(31,106,38,1) 40%, rgba(31,106,38,1) 60%, rgba(255,255,255,1) 100%);
}

.nav_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 0.6em 1.2em 0 1.2em;
    border-bottom: 2px solid transparent; /* Add transparent border for the line */
}

.nav_bar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.06em; 
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(31,106,38,1) 40%, rgba(31,106,38,1) 60%, rgba(255,255,255,1) 100%); 
}

.gradient_hr_footer {
    margin: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(31,106,38,1) 30%, rgba(31,106,38,1) 70%, rgba(255,255,255,1) 100%);
}

.footer_links {
    display: flex;
    margin: 0.6em 0;
    justify-content: space-around;
}

.footer_links_top_gradient {
    display: none;
    margin: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(31,106,38,1) 30%, rgba(31,106,38,1) 70%, rgba(255,255,255,1) 100%);
}

.footer_links_ul {
    list-style-type: none;

}

.footer_links_li {
    font-size: 1.1rem;
    padding: 0.5em;
}

.footer_link_header {
    color: #1f6a26;
    font-size: 1.3rem;
    font-weight: 600;
}

.footer_links_li > a {
    text-decoration: none;
    color: #0f0f0f;
    position: relative;
}

.footer_links_li > a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: #1f6a26;
    transition: width 0.3s, background-color 0.3s;
}

.footer_links_li > a:hover::after{
    width: 100%;
}

.footer_links_li > a:hover{
    color: #1f6a26;
}

.footer_links_li_contact_us {
    font-size: 1.1rem;
    padding: 0.5em;
}

.footer_links_li_contact_us > a {
    text-decoration: none;
    color: #0f0f0f;
    position: relative;
}

.footer_links_li_contact_us > a:hover {
    color: #1f6a26;
    font-weight: 500;
}

.social_media_handles {
    color: #1f6a26;
    font-size: 1.3rem;
    font-weight: 600;
}

.socials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 10px;
}

.socials > li {
    grid-column: span 4;
}

#socials_facebook, #socials_instagram, #socials_twitter, #socials_youtube, #socials_bentome {
    height: 30px;
    padding: 0.6em;
}

.socials > .tooltip > a > img {
    text-decoration: none;
    color: #0f0f0f;
}

.socials > .tooltip > a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #1f6a26;
    display: block;
}

.socials > .tooltip > a:hover::after {
    transition: all 0.3s linear;
    width: 100%;
}

.socials > .tooltip > a:hover {
    color: #1f6a26;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.footer_links_li {
    display: flex;
}

/* Media Query for Mobile Devices (Smartphones) */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    
}

/* Media Query for Tablets */
@media only screen and (min-width: 768px) and (max-width: 984px) {
    #left_side_nav_bar_img1 {
        max-width: 13em;
        padding: 1.35em 0 1em 0;
    }
    
    #left_side_nav_bar_img2 {
        display: none;
    }
    
    .desktop-nav {
        display: block;
    }
    .hamburger {
        display: none;
    }

    #right_side_nav_bar_home ,#right_side_nav_bar_about_us, #right_side_nav_bar_services, #right_side_nav_bar_reviews, #right_side_nav_bar_contact_us {
        font-size: 0.95em;
        padding: 0.25;
    }

    /* CSS for Home Page Content */
    #home_content {
        display: flex;
    }

    .main_content {
        position: relative;
        top: 7em;
        flex: 1;
    }
    
    .journey_begin {
        font-size: 2.3rem;
    }
    
    .journey_details {
        padding: 0.6em 0;
        letter-spacing: 1px;
        font-size: 1.2rem;
        margin-bottom: 0.8em;
    }
    
    .anchor_role_button {
        padding: 0.5em 0.8em;
        border-radius: 1.2em;
        box-shadow: 0.06em 0.06em 0.3em #0f0f0f;
        font-size: 1.1rem;
    }

    .home_page_left_side_content {
        flex: 1;
        flex-shrink: 1;
        display: flex;
        align-items: center;
        margin-left: 2em;
    }

    #home_page_right_side_content {
        flex: 1;
        padding: 20px 20px 20px 0;
        position: relative;
    }

    #home_page_right_side_content_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* CSS for About Us Page Content */
    #about_us_content {
        display: flex;
        margin-top: 4.5rem;
    }

    .about_us_page_right_side_content {
        flex: 1;
        flex-shrink: 1;
        display: flex;
        align-items: center;
        /* margin-left: 2em; */
    }

    #about_us_page_left_side_content {
        flex: 1;
        padding: 20px 20px 20px 20px;
        position: relative;
    }

    #about_us_page_left_side_content_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about_us_page_right_side_content_for_desktop {
        display: none;

    }
    
    .about_us_page_right_side_content_for_mobile_p {
        padding: 0.6em 0 0 0;
    }
    .about_us_page_right_side_content_for_mobile_read_more {
        text-decoration: none;
        border-bottom: 1px solid;
        color: #0f0f0f;

        span {
            display: none;
        }
    }

    .about_us_page_right_side_content_for_mobile_read_more:hover {
        color: #1f6a26;
        border: none;
        span {
            display: contents;
        }
    }

    /* CSS for services Page Content */
    #services_content, #reviews_content, #contact_us_content {
        margin-top: 4.5rem;
    }

    .services_page_review_page {
        text-align: center;
    }
    
    .services_page_review_page_for_mobile  {
        font-size: 1rem;
    }

    #services_content, #reviews_content {
        display: flex;
        justify-content: center;
    }

    .playcards {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service_playcard {
        display: flex;
        /* margin: 0 1.2em; */
        width: 650px;
        border-radius: 20px;
        height: 150px;
    }
    
    .review_playcard {
        display: flex;
        width: 650px;
        height: 200px;
        border-radius: 10px 60px;
        border: 0.2em solid #1f6a26;
    }

    .services_playcard_image {
        height: 75px;
    }
    
    .review_playcard_image {
        height: 125px;
        padding: 2.1rem;
    }

    .services_playcard_image_headline, .review_playcard_image_headline {
        font-size: 2em;
    }

    .playcard_img_div, .playcard_description_div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .review_playcard_image_description {
        font-size: 1rem;
    }

    .footer_top_img {
        display: none;
    }

    .footer_img_div {
        display: none;
    }

    .footer_links_top_gradient {
        display: block;
    }

    .footer_links {
        display: flex;
        margin: 2em 0;
        justify-content: space-around;
    }
}

/* Media Query from 984 TO 1199PX */
@media only screen and (min-width: 984px) and (max-width: 1199px) {
    #left_side_nav_bar_img1 {
        max-width: 15em;
        padding: 1.35em 0 1em 0;
    }
    
    #left_side_nav_bar_img2 {
        display: none;
    }
    
    .desktop-nav {
        display: block;
    }

    .hamburger {
        display: none;
    }

    #right_side_nav_bar_home ,#right_side_nav_bar_about_us, #right_side_nav_bar_services, #right_side_nav_bar_reviews, #right_side_nav_bar_contact_us {
        font-size: 1.05em;
        padding: 0.25;
    }

    /* CSS for Home Page Content */
    #home_content {
        display: flex;
    }

    .main_content {
        position: relative;
        top: 7em;
        flex: 1;
    }
    
    .journey_begin {
        font-size: 3.2rem;
    }
    
    .journey_details {
        padding: 0.6em 0;
        letter-spacing: 1px;
        font-size: 1.3rem;
        margin-bottom: 0.8em;
    }
    
    .anchor_role_button {
        padding: 0.5em 0.8em;
        border-radius: 1.2em;
        box-shadow: 0.06em 0.06em 0.3em #0f0f0f;
        font-size: 1.1rem;
    }

    .home_page_left_side_content {
        flex: 1;
        flex-shrink: 1;
        display: flex;
        align-items: center;
        margin-left: 2em;
    }

    #home_page_right_side_content {
        flex: 1;
        padding: 20px 20px 20px 0;
        position: relative;
    }

    #home_page_right_side_content_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* CSS for About Us Page Content */
    #about_us_content {
        display: flex;
        margin-top: 4.5rem;
    }

    .about_us_page_right_side_content {
        flex: 1;
        flex-shrink: 1;
        display: flex;
        align-items: center;
        margin-left: 2em;
    }

    #about_us_page_left_side_content {
        flex: 1;
        padding: 20px 20px 20px 20px;
        position: relative;
    }

    #about_us_page_left_side_content_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about_us_page_right_side_content_for_desktop {
        display: none;

    }
    
    .about_us_page_right_side_content_for_mobile_p {
        padding: 0.6em 0 0 0;
    }
    .about_us_page_right_side_content_for_mobile_read_more {
        text-decoration: none;
        border-bottom: 1px solid;
        color: #0f0f0f;

        span {
            display: none;
        }
    }

    .about_us_page_right_side_content_for_mobile_read_more:hover {
        color: #1f6a26;
        border: none;
        span {
            display: contents;
        }
    }

    /* CSS for services Page Content */
    #services_content, #reviews_content, #contact_us_content {
        margin-top: 4.5rem;
    }

    .services_page_review_page {
        text-align: center;
    }
    
    .services_page_review_page_for_mobile  {
        font-size: 1.5rem;
    }

    #services_content, #reviews_content {
        display: flex;
        justify-content: center;
    }

    .playcards {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .service_playcard {
        display: flex;
        /* margin: 0 1.2em; */
        width: 650px;
        border-radius: 20px;
        height: 150px;
    }
    
    .review_playcard {
        display: flex;
        width: 650px;
        height: 200px;
        border-radius: 10px 60px;
        border: 0.2em solid #1f6a26;
    }

    .services_playcard_image {
        height: 75px;
    }
    
    .review_playcard_image {
        height: 125px;
        padding: 2.1rem;
    }

    .services_playcard_image_headline, .review_playcard_image_headline {
        font-size: 2em;
    }

    .playcard_img_div, .playcard_description_div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .review_playcard_image_description {
        font-size: 1rem;
    }

    .contact_us {
        margin-top: 2em;
    }

    .footer_top_img {
        display: none;
    }

    .footer_img_div {
        display: none;
    }

    .footer_links_top_gradient {
        display: block;
    }

    .footer_links {
        display: flex;
        margin: 2em 0;
        justify-content: space-around;
    }
}

/* Media Query for Desktops */
@media only screen and (min-width: 1199px) {
    #left_side_nav_bar_img1 {
        max-width: 20em;
        padding: 1.35em 1em;
    }
    
    #left_side_nav_bar_img2 {
        display: none;
    }
    
    .right_side_nav_bar > a {
        font-size: 1.3em;
    }

    .home_page, .about_us_page, .services_page, .reviews_page {
        /* padding: 2em 2.76em 2em 2.2em ; */
        padding: 2.2em ;
    }

    /* CSS for Home Page Content */
    #home_content {
        display: flex;
    }

    .main_content {
        position: relative;
        top: 7em;
        flex: 1;
    }

    .home_page_left_side_content {
        flex: 1;
        flex-shrink: 1;
        display: flex;
        align-items: center;
        margin-right: 2em;
    }

    #home_page_right_side_content {
        flex: 1;
        padding: 20px 0 20px 20px;
        position: relative;
    }

    #home_page_right_side_content_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* CSS for About Us Page Content */
    #about_us_content {
        display: flex;
    }

    .about_us_page {
        display: flex;
        flex: 1;
    }

    .about_us_page_right_side_content {
        margin-left: 2em;
        flex: 1;
        flex-shrink: 1;
    }

    #about_us_page_left_side_content {
        flex: 1;
        /* padding: 20px 40px 20px 0; */
        position: relative;
    }

    #about_us_page_left_side_content_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about_us_page_right_side_content_for_mobile {
        display: none;
    }

    /* CSS for services Page Content */
    #services_content {
        display: flex;
        justify-content: center;
    }

    /* CSS for reviews Page Content */
    #reviews_content {
        display: flex;
        justify-content: center;
    }

    /* CSS for footer */
    .contact_us {
        margin-top: 2em;
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .footer_top_img {
        flex: 1;
        flex-shrink: 1;
    }
}


/* @media screen and (max-width: 600px) {
    .journey_begin{
        font-size: 2rem;
    }

    .journey_details{
        font-size: 1.1rem;
    }
    
    #left_side_nav_bar_img1 {
        display: none;
    }

    #left_side_nav_bar_img2 {
        height: 3em;
        padding: 1.25rem 0 0 0.5rem;
    }

    .desktop-nav {
        display: none;
    }
    .hamburger {
        display: block;
    }
}

@media screen and (min-width: 600px) {
    #left_side_nav_bar_img1 {
        height: 40px;
        padding: 1.5rem 0 0.5rem 0;
    }

    #left_side_nav_bar_img2 {
        display: none;
    }

    .journey_begin{
        font-size: 2.6rem;
    }

    .journey_details{
        font-size: 1.15rem;
    }

    .desktop-nav {
        display: none;
    }
    .hamburger {
        display: block;
    }
}

@media screen and (min-width: 800px) {
    .journey_begin{
        font-size: 3.2rem;
    }

    .journey_details{
        font-size: 1.2rem;
    }

    .contact_us {
        display: grid;
        grid-template-columns: 30% 70%;
    }
    
    .right_side_nav_bar > a{
        font-size: 1.2rem;
    }

    .desktop-nav {
        display: block;
    }
    .hamburger {
        display: none;
    }
}

@media (width < 1220px) {
    .contact_us {
        display: flex;
        flex-direction: column;
    }

    .footer_top_img {
        display: none;
    }

    .footer_img_div {
        display: none;
    }

    .footer_links_top_gradient {
        display: block;
    }
} */